/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'), url(https://fonts.gstatic.com/s/alice/v10/OpNCnoEEmtHa6GcOrgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Alice", Arial, sans-serif;
  height: 100%;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  padding: 0.25rem 0;
}
html a,
body a {
  text-decoration: none;
}
body {
  max-width: 1200px;
  width: 90%;
  margin: 3rem auto;
  padding: 5rem;
  border: 1px solid #6a3135;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
body h3 {
  font-size: 1.25rem;
}
body header img {
  max-width: 150px;
  width: 20%;
  border: 1px solid black;
  position: relative;
  bottom: 4rem;
}
body header h2 {
  font-size: 1.25rem;
}
body header nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: 1px solid #6a3135;
  padding: 1rem 0;
  background-color: #d4d4d5;
}
body header nav ul a {
  color: #6a3135;
  padding: 1rem;
}
body header nav ul a:hover {
  color: #d4d4d5;
  background-color: #6a3135;
}
body header .header-second-line {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
body main h3 {
  display: none;
}
body main section {
  margin-top: 2rem;
}
body main section h2 {
  display: inline-block;
  width: 50%;
  border: 1px solid red;
}
@media (max-width: 900px) {
  body {
    padding: 1rem;
  }
  body header img {
    width: 15%;
    min-width: 100px;
    position: static;
  }
  body header nav {
    margin-bottom: 1rem;
  }
}
@media (max-width: 900px) and (max-width: 500px) {
  body {
    width: 100%;
    padding: 1rem;
  }
}
