/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'), url(https://fonts.gstatic.com/s/alice/v10/OpNCnoEEmtHa6GcOrgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Alice", Arial, sans-serif;
}
html a,
body a {
  text-decoration: none;
}
.test {
  border: 1px solid red;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.bordered {
  border: 1px solid #6a3135;
}
html {
  background-color: #d4d4d5;
  scroll-behavior: smooth;
}
body {
  max-width: 1200px;
  width: 90%;
  margin: 5% auto;
  padding: 5%;
  background-color: white;
  border: 20px solid #6a3135;
  border-radius: 10px;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.5rem;
}
body h3 {
  font-size: 1.25rem;
}
body h4,
body h5,
body h6 {
  font-size: 0.9rem;
}
body p {
  line-height: 1.5rem;
}
body .top-container {
  display: flex;
}
body img {
  border: 1px solid #6a3135;
  max-height: 150px;
}
body .nav-responsive {
  display: none;
}
body header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5%;
  background: #d4d4d5;
  color: #6a3135;
  border: 1px solid #6a3135;
}
body header nav ul {
  width: 100%;
  flex-grow: 1;
  display: flex;
}
body header nav a {
  flex-grow: 1;
  padding: 13px 20px;
  text-align: center;
  white-space: nowrap;
  color: #6a3135;
}
body header nav a:hover {
  background: #6a3135;
  color: #d4d4d5;
}
body header .title-tag {
  padding: 5px 0 0 5px;
}
@media (max-width: 900px) {
  body header .title-tag {
    padding: 0;
  }
}
body main section {
  margin: 5% 0;
}
body main section h3 {
  margin-bottom: 2%;
}
body main section .box-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
}
body main section .box-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  width: 25%;
}
@media (max-width: 500px) {
  body main section .box-container .box {
    width: 50%;
  }
}
body main section .box-container .box h3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  height: 3rem;
}
body main section span {
  font-weight: bold;
  font-size: 1.25rem;
}
body main section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body main section:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body main form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2% 0;
}
@media (max-width: 900px) {
  body main form {
    width: 100%;
  }
}
body main input,
body main textarea {
  margin: 1% 0;
  padding: 5px;
}
body main input[type="submit"] {
  align-self: flex-end;
  width: 20%;
}
body footer {
  border: 1px solid #6a3135;
  padding: 1%;
  margin-top: 5%;
  background: #d4d4d5;
  color: #6a3135;
  font-size: 0.9rem;
}
@media (max-width: 900px) {
  body img {
    display: none;
    padding: 0;
    border: 1px solid red;
  }
  body header > nav {
    display: none;
  }
  body .nav-responsive {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 5%;
    background: #d4d4d5;
    color: #6a3135;
    border: 1px solid #6a3135;
  }
  body .nav-responsive ul {
    width: 100%;
    flex-grow: 1;
    display: flex;
    border-bottom: 1px solid #6a3135;
  }
  body .nav-responsive ul:last-of-type {
    border-bottom: 0px;
  }
  body .nav-responsive a {
    flex-grow: 1;
    padding: 13px 20px;
    text-align: center;
    white-space: nowrap;
    color: #6a3135;
  }
  body .nav-responsive a:hover,
  body .nav-responsive a:active {
    background: #6a3135;
    color: #d4d4d5;
  }
}
@media (max-width: 500px) {
  body .nav-responsive {
    width: 100%;
    transition: width 0.5s;
  }
}
